/*! =========================================================
@name             fonts.css
@description      IOM font family definitions
============================================================= */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7cFira+Mono%5cLato:400,300,300italic,400italic,700,700italic,900,900italic&display=swap');

html, body { font-family: 'Open Sans', Arial, sans-serif; }

pre, code, kbd, samp { font-family: 'Fira Mono', monospace; }
